* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-white: #fff;
  --color-secondary: #ec5242;
  --color-secondaryDeep: #e2220c;
  --color-lightblack: #272a31;
  --color-lightgrey: #d3d3d3;
  --color-black: #000;
}

body {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

li img {
  width: 15%;
  height: 30%;
}

.header {
  width: 100%;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.social-media-icon a {
  color: var(--color-white);
}

.header .navigation {
  display: none;
}

.header .allheading .menu {
  color: var(--color-lightblack);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 35px;
  padding: 6px 14px 8px 14px;
  margin-left: 8px;
}

.menu-sec {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  gap: 5px;
  background-color: var(--color-lightblack);
  -webkit-animation-name: menuanime;
  animation-name: menuAnime;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

@-webkit-keyframes menuAnime {
  0% {
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes menuAnime {
  0% {
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

footer .foot-1 ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  padding: 30px;
}

.header .allheading ul {
  display: none;
}

.menu-sec nav {
  padding-top: 70px;
  padding-left: 28px;
}

.menu-sec a h2 {
  padding: 20px 10px;
  color: var(--color-lightgrey);
}

.menu-sec .cancel {
  color: var(--color-lightgrey);
  font-size: 60px;
  padding-right: 15px;
}

.sub-about {
  background-image: url(./important-img/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec1 {
  padding: 16px;
  background: url(./important-img/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.para1 {
  color: var(--color-secondary);
  font-size: 2.5rem;
  padding: 15px;
}

.main-title {
  width: 90%;
  background-image: url(./important-img/header\ background.jpeg);
  color: transparent;
  font-weight: bolder;
  font-size: 2.8rem;

  /* letter-spacing: 0.2rem; */
  margin: 10px;
  padding: 1rem 0 2.5rem 0;
  background-clip: unset;
  -webkit-background-clip: text;
}

.title {
  width: 100%;
}

.para2 {
  color: var(--color-lightblack);
  background-color: rgb(242, 242, 242);
  display: flex;
  border: 3px solid #fff;
  align-items: center;
  font-weight: 600;
  line-height: 1.6rem;
  margin-top: 25px;
  padding: 1rem;
}

.year {
  color: var(--color-black);
  font-weight: 900;
  font-size: 1.5rem;
  margin: 1.5rem 0 0 24px;
}

.differ {
  color: var(--color-lightblack);
  margin: 10px 0 50px 24px;
}

.sec2 {
  background-color: #272a32;
  background-image: url(important-img/diamond.png);
  width: 100%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.sec2 .parr {
  display: none;
}

.sec-2-title {
  font-size: 30px;
  align-self: center;
}

.guest img {
  background-image: url(./important-img/image-bg.png);
}

.sec3 .speakers .guest img {
  background-size: 120px 100px;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding-left: 5%;
  padding-top: 5%;
}

.line {
  width: 2rem;
  height: 1px;
  align-self: center;
  margin-top: 10px;
  border: 1px solid var(--color-secondaryDeep);
}

.program {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 1.6rem;
}

.list {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 18px 8px 18px 14px;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}

.list i {
  font-size: 30px;
}

.list-header {
  color: var(--color-secondary);
  flex: 4;
}

.list-para {
  width: 100%;
  flex: 5;
  line-height: 1.6rem;
}

.join {
  display: flex;
  display: none;
  background-color: var(--color-secondary);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 70%;
  padding: 1.6rem;
  border: none;
  margin: 30px;
}

.join h3 {
  color: var(--color-white);
  font-size: 20px;
  word-spacing: 0.3rem;
  padding: 8px;
}

.sec3 {
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: var(--color-lightblack);
}

.sec3 .speakers {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sec3 .speakers .guest {
  display: flex;
  -moz-column-gap: 16px;
  column-gap: 16px;
}

.sec3 .speakers .guest section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .foot-last h3 {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 30px 0;
}

.sec3 .speakers .guest section h3 {
  align-self: flex-start;
}

.sec3 .speakers .guest section .p1 {
  width: 100%;
  font-size: 15px;
  color: var(--color-secondaryDeep);
}

.sec3 .speakers .guest section .p2 {
  font-size: 13px;
  color: var(--color-lightblack);
}

footer .foot-last h3 small {
  display: none;
}

.about .about-sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about .about-sec1 p a {
  display: block;
}

.about .about-sec1 p a b {
  color: var(--color-black);
}

.about .about-sec1 .about-title {
  color: var(--color-lightblack);
  font-size: 35px;
  padding: 35px;
  margin: 10px;
  text-align: center;
}

.about .about-sec1 .logo img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 217px;
  margin: 60px;
  border: 1px solid grey;
  padding: 5px;
}

.about .about-sec1 .mini-about {
  color: var(--color-lightblack);
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}

.about .about-sec1 .images-about {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  gap: 24px;
}

.about .about-sec1 .images-about .img-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 350px;
  align-self: center;
}

.one {
  background: linear-gradient(rgba(241, 123, 110, 0.5), rgba(226, 34, 12, 0.5)), url(./IMAGES/imageS-2019.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.two {
  background: linear-gradient(rgba(241, 123, 110, 0.5), rgba(226, 34, 12, 0.5)), url(./IMAGES/about2-2020.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.three {
  background: linear-gradient(rgba(241, 123, 110, 0.5), rgba(226, 34, 12, 0.5)), url(./IMAGES/about3-2022.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about .about-sec1 .images-about .img-about h3 {
  align-self: center;
  color: var(--color-white);
  font-size: 30px;
}

footer .foot-last h2 big {
  display: flex;
}

.about .about-sec1 .images-about .img-about h3 big {
  display: block;
}

.about .about-sec1 .images-about .img-about h3 small {
  font-size: 19px;
  font-weight: 800;
}

footer {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

footer .footer-close {
  display: flex;
}

footer .foot-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-lightblack);
  color: rgb(148, 145, 145);
  padding: 24px 0;
}

footer .foot-1 ul li {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem;
}

footer .foot-1 ul li i {
  font-size: 30px;
  padding: 10px;
}

footer .foot-last {
  background-color: var(--color-white);
  color: #272a31;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 40px 10px;
}

footer .foot-last h2 span {
  width: 60px;
  height: 50px;
  border: 3px solid black;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  font-size: 18px;
  padding-bottom: 1px;
  margin-left: 20px;
}

footer .foot-last h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  font-size: 25px;
  padding: 30px 0;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
  }

  .header .navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 60%;
    padding-right: 10%;
    background-color: rgb(65, 64, 64);
  }

  footer .foot-1 ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    padding: 30px;
  }

  .header .navigation ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    color: var(--color-white);
  }

  .header .menu {
    display: none !important;
  }

  .header .allheading {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(254, 254, 255);
  }

  .header .allheading ul {
    padding: 0.3rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10%;
    justify-content: space-between;
  }

  .header .allheading ul .logo-img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .foot-1 ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 1rem;
  }

  .header .allheading ul li {
    font-size: 15px;
    padding: 0.6rem;
  }

  nav ul li a h2 {
    position: relative;
  }

  .list img {
    width: 50px;
    height: 50px;
  }

  .guest img {
    background-image: url(./important-img/image-bg-desk.png);
  }

  .header .allheading ul li img {
    width: 10rem;
    height: 3.9rem;
  }

  footer .foot-last h2 {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    padding: 30px;
  }

  footer .last-abt h2 {
    color: var(--color-white);
  }

  .header .allheading ul li a h2 {
    color: #6d6a6a;
  }

  nav ul li a h2::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #6d6a6a;
    transition: width 0.3s;
  }

  nav ul li a h2:hover::after {
    width: 100%;
  }

  .header .allheading ul .campaign {
    border: 4px solid #ec5242;
    display: flex;
    font-size: 15px;
    padding: 5px;
  }

  .header .allheading ul .campaign a h2 {
    color: #ec5242;
  }

  .menu-sec {
    display: none !important;
  }

  .sec1 {
    padding: 3rem;
    background: url(./important-img/home-bg-desk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .main-title {
    width: 700px;
    position: relative;
    font-weight: 900;
    font-size: 60px;
    margin: 8px;
    mix-blend-mode: multiply;
    text-transform: uppercase;
    animation: animate 3s linear;
    overflow: hidden;
  }

  .main-title::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
  }

  @keyframes animate {
    0%,
    10%,
    20%,
    30%,
    100% {
      width: 0;
    }

    70%,
    90% {
      width: 100%;
    }
  }

  .para1 {
    color: var(--color-secondary);
    font-size: 40px;
  }

  .title {
    width: 100%;
  }

  .para2 {
    text-align: center;
    width: 80%;
    padding: 40px 20px;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #595959;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
  }

  .para3 {
    width: 500px;
    font-size: 16px;
    color: #595959;
    line-height: 1.2;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin-top: 15px;
  }

  .about .about-sec1 .mail {
    color: #595959;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
  }

  b {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .year {
    color: var(--color-lightblack);
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2rem;
  }

  .differ {
    margin-top: 10px;
    margin-bottom: 50px;
    color: #272a31;
  }

  .sec2 {
    background-color: #272a32;
    background-image: url(./important-img/diamond.png);
    width: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 4rem;
  }

  .sec2 .parr {
    display: flex;
  }

  .sec2 .parr a {
    color: var(--color-white);
    font-size: 15px;
    align-items: center;
    word-spacing: 0.2rem;
    border-bottom: 1px solid var(--color-white);
    margin-left: 200px;
    display: block;
  }

  .sec-2-title {
    align-self: center;
  }

  .line {
    width: 2rem;
    height: 1px;
    align-self: center;
    margin-top: 5px;
    border: 1px solid var(--color-secondaryDeep);
  }

  .program {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 12px;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
  }

  .list {
    height: 330px;
    padding: 6px 8px 18px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex: 1;
    gap: 0.6rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .list:hover {
    transform: translate(1px, -1px);
    border: 2px solid var(--color-white);
    box-shadow: 0 3px 5px var(--color-lightgrey);
  }

  .list i {
    font-size: 30px;
  }

  .list-header {
    color: var(--color-secondary);
    flex: 4;
  }

  .list-para {
    width: 100%;
    flex: 5;
    line-height: 1.3rem;
  }

  .join {
    background-color: var(--color-secondary);
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    text-align: center;
    align-items: center;
    margin-top: 1.6rem;
  }

  .sec3 {
    padding: 2rem 15%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 4rem;
  }

  .sec3 .speakers {
    height: 50%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .sec3 .speakers .guest {
    display: flex;
    -moz-column-gap: 16px;
    column-gap: 16px;
    height: 100%;
  }

  .sec3 .speakers .guest img {
    position: relative;
    background-size: 120px 100px;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding-left: 6%;
    padding-top: 6%;
  }

  .about .about-sec1 .logo img {
    width: 25rem;
    height: 20rem;
  }

  .sec3 .speakers .guest img:hover {
    transform: translate(1px, -1px);
    box-shadow: 0 3px 10px var(--color-black);
  }

  .sec3 .speakers .guest section {
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 100%;
  }

  footer .last-abt h3 {
    color: var(--color-white);
    display: flex;
  }

  footer .foot-last h3 {
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 30px 0;
  }

  .sec3 .speakers .guest section h3 {
    align-self: flex-start;
  }

  .sec3 .speakers .guest section .p1 {
    width: 100%;
    font-size: 15px;
    color: var(--color-secondaryDeep);
  }

  .sec3 .speakers .guest section .p2 {
    font-size: 13px;
    color: var(--color-lightblack);
    width: 100%;
  }

  .about .about-sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .sub-about {
    background-image: url(./important-img/aboutdesktop-bg.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: contain;
    display: flex;
    padding: 35px 12% 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about .about-sec1 p a {
    display: block;
  }

  .about .about-sec1 p a b {
    color: var(--color-black);
  }

  .about .about-sec1 .about-title {
    color: var(--color-lightblack);
    font-size: 50px;
    padding: 8rem 0 3rem 0;
  }

  .about .about-sec1 .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 1rem 0 6.5rem 0;
  }

  .about .about-sec1 .mini-about {
    color: var(--color-lightblack);
    font-size: 50px;
    margin-top: 20px;
  }

  .about .about-sec1 .images-about {
    padding-top: 20px;
    margin: 4rem;
    display: flex;
    flex-direction: row;
    width: 90%;
    text-align: center;
    gap: 24px;
  }

  .about .about-sec1 .images-about .img-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    align-self: center;
    background-color: rgba(226, 34, 12, 0.6);
  }

  .about .about-sec1 .images-about .img-about img {
    width: 100%;
  }

  .about .about-sec1 .images-about .img-about h3 {
    align-self: center;
    color: var(--color-white);
  }

  footer .foot-last h2 big {
    display: flex;
  }

  .about .about-sec1 .images-about .img-about h3 big {
    display: block;
  }

  footer .foot-last h3 small {
    display: flex;
  }

  .about .about-sec1 .images-about .img-about h3 small {
    font-size: 14px;
    word-spacing: 0.2rem;
    letter-spacing: 1px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  footer .footer-close {
    display: none !important;
  }

  footer .foot-1 {
    display: none;
    padding: 25px 15%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-lightblack);
    color: rgb(148, 145, 145);
  }

  footer .foot-1 ul li i {
    font-size: 30px;
    padding: 10px;
  }

  footer .foot-last {
    background-color: #272a31;
    color: var(--color-white);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px 15%;
    justify-content: space-between;
  }

  footer .foot-last h2 span {
    width: 60px;
    height: 50px;
    border: 3px solid var(--color-white);
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 28px;
    padding-bottom: 1px;
  }

  footer .last-abt {
    background-color: var(--color-lightblack);
  }
}
